<div class="comunism">
    <h1>JOIN US!</h1>

    <div class="text">
        <p>Il comunismo, termine derivato da «comune», a sua volta derivato[1] dal latino commūnis («comune», «pubblico» e «che appartiene a tutti», ma anche «neutrale», «imparziale» e «equilibrato»), anch'esso di molteplice significato, è un insieme di idee economiche, sociali e politiche accomunate dalla prospettiva di una stratificazione sociale egualitaria e che presuppone la comunanza dei mezzi di produzione e l'organizzazione collettiva del lavoro, spesso affiancando a questi fondamenti anche opzioni internazionaliste.</p>
        <p>Il comunismo, termine derivato da «comune», a sua volta derivato[1] dal latino commūnis («comune», «pubblico» e «che appartiene a tutti», ma anche «neutrale», «imparziale» e «equilibrato»), anch'esso di molteplice significato, è un insieme di idee economiche, sociali e politiche accomunate dalla prospettiva di una stratificazione sociale egualitaria e che presuppone la comunanza dei mezzi di produzione e l'organizzazione collettiva del lavoro, spesso affiancando a questi fondamenti anche opzioni internazionaliste.</p>
    </div>
    
    <img src="../../assets/img/economy.png" alt="">

    <button class="join">JOIN NOW!</button>
</div>

<div class="box-2">
    <div class="container">
        <h1>PROFESSIONISTI DEL SETTORE</h1>
        <div class="card">
            <img src="../../assets/img/logo-1.png">
            <div class=card-text>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos exercitationem maxime aliquam rem, pariatur eius consequuntur, quidem totam praesentium impedit nemo molestiae blanditiis iusto aspernatur vero distinctio nisi natus. Dolor.</p>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/img/logo-2.png">
            <div class=card-text>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi consequatur tenetur ullam porro, quod temporibus voluptatem nemo sed recusandae, fuga hic in laudantium expedita nulla earum voluptate minus amet. Numquam.</p>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/img/logo-3.png">
            <div class=card-text>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam cupiditate, distinctio repellat amet eos facilis nihil, dolorem beatae fugiat commodi blanditiis eius, libero dolore expedita non maiores hic doloremque saepe!</p>
            </div>
        </div>
        

    </div>
</div>

